@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
body{
    background-image:linear-gradient(rgba(255, 0, 0, 0.39) , rgb(0, 128, 0));
    background-repeat:no-repeat;
    height:400px;
}


.program{
    margin:0 auto;
    margin-top:50px;
    max-width: 200px;
    height: 250px;
    border: solid 1px transparent;
    border-radius:10px;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
    
}
h1{
    text-align:center;
    font-family:'Teko', cursive;
    font-size:20px;
    text-shadow: 5px 1px 5px rgba(255, 255, 255, 0.322);
}
h6{
    
    text-align:center;
    font-family:'Bilbo Swash Caps', cursive;
    font-size:8px;
    margin-top:-25px;
    
    
}
a{
    color:black;
    text-decoration: none;
}
.icon{
    display:block;
    max-height: 100%;
    max-width: 100%;
    width: 8px;
    height: 7px;
    border:none;
    background-size: 10px;
    background-repeat:no-repeat;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:0px;
}

.alt{
    border-radius:25px;
    border:none;
    background-color:rgba(206, 200, 200, 0.438);
    width:100px;
    height:10px;
    font-style:italic;
    font-size:5px;
    text-align:center;
    outline:none;
    margin-top:-10px;
}
.textalt{
    font-family:'Teko';
    font-size:9px;
    color:rgba(64, 64, 66);
    text-shadow: 0.5px 0px 1px rgba(17, 6, 116, 0.37);
    
}    

.textdes{
    font-family:'Teko';
    font-size:9px;
    color:rgb(64, 64, 66);
    text-shadow: 0.5px 0px 1px rgba(17, 6, 116, 0.37);
    
}    
.select{
    margin-top:0px;
    background-color:rgba(206, 200, 200, 0.438);
    border:none;
    outline:none;
    border-radius:25px;
    width:100px;
    height:10px;
    font-family:'Teko';
    font-size:8px;
    -webkit-appearance: none;
    text-align-last:right;
    padding-right:39px;
}

.textdir{
    font-family:'Teko';
    font-size:9px;
    color:rgb(64, 64, 66);
    text-shadow: 0.5px 0px 1px rgba(17, 6, 116, 0.37);
    text-decoration: italic;
    
}
.button1 {
    bottom:-10px;
    position:relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2px 8px;
    text-align: center;
    left:0px;
    width:50px;
    text-decoration: none;
    font-size: 8px;
    border-radius:25px;
    outline:none;
    
    
  }
  .button1:hover{
      background-color:#4caf4f96;
  }
  .button2 {
    bottom:-10px;
    background-color: #b1250c;
    border: none;
    left:0px;
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 8px;
    position:relative;
    width: 50px;
    border-radius:25px;
    outline:none;
   
  }
  .button2:hover{
    background-color: #b1250c65;
    }
.ress{
    margin-top:-75px;
    width:150px;
    border-color:rgba(10, 131, 36, 0.212);
    height:50px;
    box-shadow: inset 0 0 10px #00000080;
    margin-left:25px;
    border-radius:10px;

    
}
#result{
    max-width:100%;
    max-height: 100%;
    margin-top:100px;
    font-size:10px;
    font-family:'Teko';
    text-align: center;
    padding-top:10px;
    color:rgb(0, 0, 0);
}
        